@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: white !important;
}

.ser-link{
    padding: 15px 20px !important;
}

ul a{
    text-decoration: none;
    color: white;
    padding: 25px;
}

@media only screen and (max-width: 575px){
    .navbar-brand img{
        width: 145px;
    }

    ul a{
        font-size: 13px;
    }

    ul{
        gap: 0px !important;
    }

    li a{
        padding: 20px;
    }

    input{
        width: 145px;
        display: none;
    }

    .search{
        display: none;
    }
    
    .c-r{
        height: 48px !important;
    }

    .p-l{
        padding-left: 0px !important;
    }

    .p-r{
        padding-right: 0px !important;
    }

    .nav-con{
        padding-left: 24px;
        padding-right: 24px;
    }

    .navbar{
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }

    .pb{
        margin-bottom: 10px;
    }

    .s-m{
        display: inline !important;
    }

    .i-m{
        display: inline;
        min-width: 90%;
    }

    .sr-icon{
        display: inline;
        margin: 2px;
    }
}

.container ul::-webkit-scrollbar{
    display: none;
}