@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: white !important;
}

.ser-link{
    padding: 15px 20px !important;
}

ul a{
    text-decoration: none;
    color: white;
    padding: 25px;
}

@media only screen and (max-width: 575px){
    .navbar-brand img{
        width: 145px;
    }

    ul a{
        font-size: 12px;
    }

    ul{
        gap: 0px !important;
    }

    li a{
        padding: 20px;
    }

    input{
        width: 145px;
    }

    .c-r{
        height: 45px !important;
    }

    .p-r{
        padding-left: 0px !important;
    }

    .nav-con{
        padding-left: 24px;
        padding-right: 24px;
    }
}

.container ul::-webkit-scrollbar{
    display: none;
}